/*
 * 主体部分公共样式
 *    全局类的样式, 必须以 app- 作为开头
 */

body {
    padding: 0;
    margin: 0;
    font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, SimSun, sans-serif;
}

a {
    text-decoration: none;
    background-color: transparent;
    color: #000;
}

a:hover {
    color: #409eff;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    list-style-type: none;
}


/* input背景色默认是黄色 */

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}

.clearfix:after {
    content: '.';
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
}


/*滚动条样式--webkit*/


/* 整体 */

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background: transparent;
    -webkit-border-radius: 6px;
    cursor: pointer;
}


/* 内层轨道 */

::-webkit-scrollbar-track-piece {
    -webkit-border-radius: 0;
    cursor: pointer;
}


/* 滑块 */

::-webkit-scrollbar-thumb {
    height: 50px;
    -webkit-border-radius: 6px;
    outline-offset: -2px;
    background: #cccccc;
    border: 2px solid #cccccc;
    cursor: pointer;
}


/* 滑块悬停 */

::-webkit-scrollbar-thumb:hover {
    height: 50px;
    background: #d7d5d5;
    border: 2px solid #d7d5d5;
    -webkit-border-radius: 6px;
    cursor: pointer;
}


/*滚动条样式--ie*/

body {
    scrollbar-face-color: #014179;
    /*滚动条颜色*/
    scrollbar-highlight-color: #014179;
    scrollbar-3dlight-color: #014179;
    scrollbar-darkshadow-color: #014179;
    scrollbar-Shadow-color: #014179;
    /*滑块边色*/
    scrollbar-arrow-color: #014179;
    /*箭头颜色*/
    scrollbar-track-color: #fefefe;
    /*背景颜色*/
}

html,
body {
    font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
    height: 100%;
    width: 100%;
    min-width: 1350px;
    /* 对字体进行抗锯齿渲染 */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


/*!* 侧边栏-默认 *!*/

.layout-sidebar {}

.ai-layout-sidebar .ai-layout-sidebar-content {
    padding: 5px 10px;
}

.ai-layout-sidebar .ai-layout-sidebar-content .ai-nav-item .ai-nav-name {
    display: block;
    height: 40px;
    color: #444;
    line-height: 40px;
    font-size: 16px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: bold;
    cursor: pointer;
}

.ai-layout-sidebar .ai-layout-sidebar-content .ai-nav-item .ai-nav-name:hover {
    color: #409eff;
}

.ai-layout-sidebar .ai-layout-sidebar-content .ai-nav-item .ai-nav-group .ai-nav-item .ai-nav-name {
    padding-left: 20px;
    font-size: 14px;
    height: 26px;
    line-height: 26px;
}

.ai-layout-container .ai-layout-content .component-container {}

.ai-layout-container .ai-layout-content .component-container .component-title {
    font-size: 28px;
    font-weight: 400;
    color: #1f2f3d;
}

.ai-layout-container .ai-layout-content .component-container .component-description {
    font-size: 14px;
    color: #5e6d82;
    line-height: 18px;
    margin: 10px 0;
}

.ai-layout-container .ai-layout-content .component-container .component-example {}

.ai-layout-container .ai-layout-content .component-container .component-example .component-example-title {
    display: block;
    font-size: 22px;
    font-weight: 400;
    color: #1f2f3d;
    margin:40px 0 20px;
}

.ai-layout-container .ai-layout-content .component-container .component-example .component-example-description {
    font-size: 14px;
    color: #5e6d82;
    line-height: 18px;
    margin: 10px 0;
}

.ai-layout-container .ai-layout-content .component-container .component-example .component-example-content {}

.ai-layout-container .ai-layout-content .component-container .component-example .component-example-content .source {
    padding: 24px;
    border:1px solid #ebebeb;
}

.ai-layout-container .ai-layout-content .component-container .component-example .component-example-content .example {}

.ai-layout-container .ai-layout-content .component-container .component-use {}

.ai-layout-container .ai-layout-content .component-container .component-use h4 {
    font-size: 22px;
    font-weight: 400;
    color: #1f2f3d;
    padding: 40px 0 20px;
}

.ai-layout-container .ai-layout-content .component-container .component-use table {
    width: 100%;
    color: #909399;
}

.ai-layout-container .ai-layout-content .component-container .component-use table thead tr th {
    text-align: left;
    padding: 10px 20px;
    border-bottom: 1px solid #dcdfe6;
}

.ai-layout-container .ai-layout-content .component-container .component-use table tbody tr td {
    text-align: left;
    padding: 10px 20px;
    border-bottom: 1px solid #dcdfe6;
}


/* 日食 深色主题 */

#body-theme-mixiaoku {
    background-color: #1a2029;
}


/* 侧边栏 */

#body-theme-mixiaoku .layout-sidebar .ai-nav-item .ai-nav-name {
    color: #ffffff;
}

#body-theme-mixiaoku .layout-sidebar .ai-nav-item .ai-nav-name:hover {
    color: #325cd8;
}


/* 头部 */

#body-theme-mixiaoku .ai-layout-header {
    background-color: #151a20;
    box-shadow: none;
    border-bottom: 3px solid #325cd8;
}

#body-theme-mixiaoku .ai-layout-header .title,
#body-theme-mixiaoku .ai-layout-header .sub-title,
#body-theme-mixiaoku .ai-layout-header .theme-ai-nav-item {
    color: #ffffff;
}

#body-theme-mixiaoku .ai-layout-header .theme-ai-nav-item:hover,
#body-theme-mixiaoku .ai-layout-header .theme-ai-nav-item.active {
    color: #549ef8;
}


/*!* border页面样式覆盖 *!*/


/*#body-theme-mixiaoku .page-component .content > table {*/


/*background-color: rgba(0, 0, 0, 0);*/


/*}*/


/*#body-theme-mixiaoku .page-component .content > table td {*/


/*color: #ffffff;*/


/*}*/


/*#body-theme-mixiaoku .demo-border .line div {*/


/*border-top: 1px solid #333a46;*/


/*}*/


/*#body-theme-mixiaoku .demo-border .line .dashed {*/


/*border-top: 2px dashed #333a46;*/


/*}*/


/*#body-theme-mixiaoku .demo-radius .radius {*/


/*border-color: #474e59;*/


/*}*/


/*#body-theme-mixiaoku .page-border .demo-radius .radius {*/


/*box-shadow: none;*/


/*}*/


/*#body-theme-mixiaoku .demo-shadow {*/


/*border: none;*/


/*background-color: #2a3039;*/


/*}*/


/*#body-theme-mixiaoku .demo-shadow.demo-shadow-normal {*/


/*box-shadow: 0 5px 18px rgba(10, 15, 21, .32);*/


/*}*/


/*#body-theme-mixiaoku .demo-shadow-light {*/


/*box-shadow: 0 5px 18px rgba(10, 15, 21, .15);*/


/*}*/


/*#body-theme-mixiaoku .demo-radius .value {*/


/*color: #919bb1;*/


/*}*/